In [1]:
# 자료형을 확인하는 type() 함수

In [2]:
bool_var1 = True # False
print(type(bool_var1))

<class 'bool'>

In [3]:
int_var = 100
print('int_var의 자료형 : ', type(int_var))

int_var의 자료형 :  <class 'int'>

In [4]:
int_var = 'STRING'
print('int_var의 자료형 : ', type(int_var))

int_var의 자료형 :  <class 'str'>

In [5]:
float_var = 3.141592
print('float_var', type( float_var ))

float_var <class 'float'>

In [6]:
# 리스트 : 순서 => [요소, 요소, ... ]

In [8]:
list_var = ['son', 20, False, True]
print ('list_var의 타입 : ', type(list_var))

list_var의 타입 :  <class 'list'>

In [9]:
# 튜플 : 리스트와 같은 형식의 저장 => (요소, 요소, ... )

In [10]:
tuple_var = ('son', 30)
print ('tuple_var의 타입 : ', type(tuple_var))

tuple_var의 타입 :  <class 'tuple'>

In [11]:
# dict : 속성이름:속성 값 => {속성이름:속성값, 속성이름:속성값, ... }

In [12]:
dict_var = {'name':'son', 'age' :20}

In [13]:
print('dict_var의 타입 : ', type(dict_var))

dict_var의 타입 :  <class 'dict'>

In [14]:
# set : 집합, 중복값을 저장하지 않는다 !!! => {요소, 요소, 요소, ... }

In [15]:
set_var = {'son', 30}
print('set_var의 타입 : ', type(set_var))

set_var의 타입 :  <class 'set'>

In [16]:
# 숫자 타입 정수 : int

In [17]:
number = 100
type (number)

int

In [18]:
# 숫자 타입 실수 : float

In [19]:
number = 3.14
type(number)

float

In [20]:
# 문자열 : 여러 문자들의 집합, 작은 타옴표, 큰 따옴표
# 문자열 과 리스트는 비슷한 구조

In [21]:
str_hello = "안녕하세요 !~"
print(str_hello)
type(str_hello)

안녕하세요 !~

str

In [22]:
str_c = """안녕하세요
반갑습니다.
저는 소흥민 입니다.
다음에 다시 만나요 !!
"""

In [23]:
str_c

'안녕하세요\n반갑습니다.\n저는 소흥민 입니다.\n다음에 다시 만나요 !!\n'

In [24]:
# 문자열의 덧샘 => 문자열 + 문자열 => "hello" + " !!! " => "hello !!! "

In [25]:
str_plus = 'hello'+' !!! '
print (str_plus)

hello !!!

In [26]:
# 문자열의 곱셈 : str * 숫자

In [27]:
str_mul = 'hello! '* 5
print (str_mul)

hello! hello! hello! hello! hello!

In [28]:
# 논리형 타입 : Boolean 타입 => True, False

In [29]:
check = True
print (check)

True

In [30]:
# 비교 연산의 결과는 Boolean 타입의 값을 가진다 !!!

In [31]:
result_1 = 10 > 10 # True
print(result_1)

False

In [32]:
# 형변환 함수 : 자료형 변경해주는 함수
# 문자열 -> 숫자, 정수 또는 문자열 => 실수, 숫자 또는 논리값 => 문자열
# int(), float(). str()

In [33]:
# str => int
str_to_num1 = int('100')
print(type('100'),type(str_to_num1))

<class 'str'> <class 'int'>

In [34]:
# str => float
str_to_num2 = float('100')
print(type('100'), type(str_to_num2))

<class 'str'> <class 'float'>

In [35]:
# int => str

In [36]:
int_to_str=str(100)
print(type(100), type(int_to_str))

<class 'int'> <class 'str'>

In [37]:
# 리스트

In [38]:
list = [10, 20, 30, 40]

In [39]:
list

[10, 20, 30, 40]

In [40]:
print(list, type(list))

[10, 20, 30, 40] <class 'list'>

In [41]:
# len() : 리스트의 사이즈 => 요소들의 개수 반환하는 함수

In [42]:
print('list 요소의 개수 : ', len(list))
# 요소 값에 접근(참조) : index값을 이용

list 요소의 개수 :  4

In [43]:
print(list[0])
print(list[1])
print(list[2])
print(list[3])

10
20
30
40

In [44]:
# 슬라이싱
# 변수명[시작 인텍스값:종료하고자하는 인텍스값]
# list[1:3] => [1], [2] => 20, 30

In [45]:
list[1:3]

[20, 30]

In [46]:
list[0:4] # 0, 1, 2, 3

[10, 20, 30, 40]

In [49]:
list[:3]

[10, 20, 30]

In [50]:
list[2:]

[30, 40]

In [48]:
list[-3:]

[20, 30, 40]

In [51]:
# 변수명[시작:마지막:증가값]

In [52]:
list[0:4:2]

[10, 30]

In [53]:
list [::2]

[10, 30]

In [54]:
list[::-1]

[40, 30, 20, 10]

In [64]:
# 리스트의 덧셈
list_a = [10, 20, 30, 40]
list_b = [50, 60, 70, 80]
list_total = list_a + list_b
list_total

[10, 20, 30, 40, 50, 60, 70, 80]

In [59]:
# 리스트의 곱셈
list_result = list_a *3
list_result

[10, 20, 30, 40, 10, 20, 30, 40, 10, 20, 30, 40]

In [60]:
# in 연산자 => 리스트에 특정 요소가 포함되어 있는지 여부를 확인 => True, False

In [61]:
print(130 in list_a)
print(50 in list_b)

False
True

In [65]:
# list에서 제공하는 조작 함수
list_numbers = [10, 20, 30, 40]
list_numbers

[10, 20, 30, 40]

In [66]:
list_numbers.append(100) # 요소들의 마지막에 데이터 요소 추가
list_numbers

[10, 20, 30, 40, 100]

In [67]:
list_numbers.pop()

100

In [68]:
list_numbers.append(500)
list_numbers

[10, 20, 30, 40, 500]

In [69]:
list_numbers.extend( [1000, 2000])
list_numbers

[10, 20, 30, 40, 500, 1000, 2000]

In [70]:
list_numbers

[10, 20, 30, 40, 500, 1000, 2000]

In [71]:
# 0 index 에 99 숫자 요소 추가
list_numbers.insert(0, 99)

In [72]:
list_numbers

[99, 10, 20, 30, 40, 500, 1000, 2000]

In [73]:
# 특정 데이터 요소를 삭제
list_numbers.remove(99)
list_numbers

[10, 20, 30, 40, 500, 1000, 2000]

In [74]:
# 인덱스 값으로 요소 삭제
del list_numbers [4]
list_numbers

[10, 20, 30, 40, 1000, 2000]

In [75]:
#튜플
list_score =(100, 90, 60, 80, 70)

In [76]:
print(list_score)

(100, 90, 60, 80, 70)

In [77]:
list_score_a = 100, 90, 40, 80, 70 
list_score_a

(100, 90, 40, 80, 70)

In [78]:
type(list_score_a)

tuple

In [79]:
del list_score_a

In [81]:
list_score_a

NameError: name 'list_score_a' is not defined

In [82]:
# 집합 set : 저장 순서는 없다!, 동일한 데이터는 저장하지 않는다!
# 집합의 연산 : 합집합, 교집합, 차집합

In [83]:
set_x = {10, 30, 50}
set_y = {30, 20, 50, 40}

In [84]:
# 합집합
print(set_x|set_y)

{50, 20, 40, 10, 30}

In [85]:
# 교집합
print(set_x&set_y)

{50, 30}

In [87]:
# 차집합
print (set_y-set_x)

{40, 20}

In [88]:
# dict : 딕셔너리 => 여러개의 데이터를 묶어서 하나의 개념으로 표현
# 학생 : 이름, 학년, 전공

In [89]:
student = {'name': 'King', 'grade':1, 'major':'SW'}
print (student)

{'name': 'King', 'grade': 1, 'major': 'SW'}

In [90]:
print (student ['name'], student ['grade'], student ['major'])

King 1 SW

In [91]:
student ['name' ] = 'son'

In [92]:
student

{'name': 'son', 'grade': 1, 'major': 'SW'}

In [93]:
student ['age'] = 20
student

{'name': 'son', 'grade': 1, 'major': 'SW', 'age': 20}

In [94]:
del student ['age']
student

{'name': 'son', 'grade': 1, 'major': 'SW'}

In [95]:
# 값 참조하는 함수(메소드) : get(key)
student.get('name')

'son'

In [96]:
# dict 가 가지고 있는 모든 key 반환 함수 : keys()
student.keys()

dict_keys(['name', 'grade', 'major'])

In [97]:
# items() : 튜플 형식으로 데이터 반환
student. items()

dict_items([('name', 'son'), ('grade', 1), ('major', 'SW')])

In [98]:
# values() : dict 저장된 데이터들을 리스트 형식으로 반환
student. values()

dict_values(['son', 1, 'SW'])

In [99]:
'age' in student

False

In [100]:
# None

var_temp = None
type(var_temp)

NoneType