In [13]:
# bin() => 2진수로 변환 함수
print(bin(10))
print(bin(20))

0b1010
0b10100

In [14]:
x = 10
y = 20
print('10=>', bin(x), '20=>', bin(y))

10=> 0b1010 20=> 0b10100

In [15]:
x = 10
y = 20
print('10=>', bin(x), '20=>', bin(y))

10=> 0b1010 20=> 0b10100

In [17]:
print(x&y)
print(x|y)
print(x^y)
print(-x)
# << , >>
print(x<<2) # 0000 1010 => 0010 1000 => 40
print(x>>2) # 0000 1010 => 0000 0010 => 2

0
30
30
-10
40
2

###멤버연산자

In [18]:
x = 10
y = 20
list = [10, 20, 30, 40, 50]

In [19]:
print(x in list)
print(20 in list)
print(100 in list)
print(y not in list)
print(100 not in list)

True
True
False
False
True

###식별연산자

In [20]:
x = 10
y = 10
z = 20

In [21]:
print(x is y)
print(x is z)
print(x is not z)

True
False
True

###연산자의 활용

In [22]:
# 과목별 점수의 총합과 평균 출력

In [23]:
# 점수들의 변수 선언과 값을 대입
kor_score = 100
eng_score = 70
math_score = 80

In [24]:
# 총점
sum_score = kor_score + eng_score + math_score

In [25]:
# 평균 점수
avg_score = sum_score / 3

In [26]:
# 결과 출력
print('국어 점수 :', kor_score)
print('영어 점수 :', eng_score)
print('수학 점수 : ', math_score)
print('총점 :', sum_score)
print('평균 점수 :', avg_score)

국어 점수 : 100
영어 점수 : 70
수학 점수 :  80
총점 : 250
평균 점수 : 83.33333333333333

In [27]:
# 성별이 남성이고 나이가 18세 이상의 성인 여부 판단하는 조건식
# 성별
gender = 'male' # female
# 나이
age = 20

In [28]:
# 남성, 18세 이상 판별하는 조건식 => 남성 여부 and 나이가 18세 이상
check = gender == 'male' and age >= 18
# 	   True and age True => True
print('18세 이상의 남성 판별 : ' , check)

18세 이상의 남성 판별 :  True

### 연산자

### 산술연산자

In [29]:
x = 10
y = 20
z = 3

In [30]:
print(x+y)
print(x-y)
print(x*y)
print(y/x)
print(x/z)
print(y%x)
print(y%z)
print(x ** z)
print(x//z)

30
-10
200
2.0
3.3333333333333335
0
2
1000
3

### 관계연산자

In [31]:
x = 10
y = 20
z = 3

In [32]:
print('x=', x, 'y=', y, 'z=', z)

x= 10 y= 20 z= 3

In [33]:
print(x == y)
print(x != y)
print(z>y)
print(x<y)
print(x>=y)
print(z <= y)

False
True
False
True
False
True

### 논리연산자

In [34]:
x = True
y = False

In [35]:
print('x=', x, 'y=', y)

x= True y= False

In [36]:
# and, or, not
print(x and y) # True and False => False
print(x or y) # True or False => True
print(not x) # not True => False
print(not y) # not False => True
print(not (x and y)) # not ( True and False) => not (False) => True

False
True
False
True
True

### 대입연산자

In [37]:
x = 10
y = 20
z = 0

In [38]:
print('x=', x, 'y=', y, 'z=', z)

x= 10 y= 20 z= 0

In [39]:
z = x + y
print(z)
z = z + x # z = 30 + 10 =x z = 40

30

In [40]:
z = z + x # z = 30 + 10
print(z)

50

In [41]:
z += x # z = z + x => 40 + 10 => 50
print(z)

60

In [42]:
z *= x # z = z * x => z = 30 * 10 => z = 300
print(z)

600

In [43]:
z %= 8 # z = z % 8 => z = 300 % 8
print(z)

0

In [44]:
z **= x # z = z ** x => z = 4 ^ 100
print(z)

0

In [45]:
z //= x # z = z // x => z = 1048576 // 10 => 104857
print(z)

0